/* Garantir que a página ocupe 100% da tela */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Cliente-page {
  background-color: #2563eb; /* azul */
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
}

.Cliente-page .cabecalho{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Cliente-page .cabecalho .item1{
  display: flex;
  color: black;

  margin-left: 50px;
  justify-content: center;  
  align-items: center;   
  font-weight: bold;
  text-align: center;
}
.Cliente-page .cabecalho .item2{
  display: flex;
  
  color: black;
  margin-left: 70px;
  justify-content: center;  
  align-items: center;   
  font-weight: bold;
  text-align: center;
}
.Cliente-page .cabecalho .item3{
  display: flex;

  color: black;
  margin-left: 80px;
  justify-content: center;  
  align-items: center;   
  font-weight: bold;
  text-align: center;
}
.Cliente-page .cabecalho .item4{
  display: flex;
  
  color: black;
  margin-left: 65px;
  justify-content: center;  
  align-items: center;   
  font-weight: bold;
  text-align: center;
}
.Cliente-page .cabecalho .item5{
  display: flex;
  
  color: black;

  justify-content: center;  
  align-items: center;   
  font-weight: bold;
  text-align: center;
}

.Cliente-page .cabecalho .item6{
  display: flex;
  color: black;
  margin-right: 20px;
  justify-content: center;  
  align-items: center;   
  font-weight: bold;
  text-align: center;
}






/* Card branco */
.lista-container {
  background: white;
  border-radius: 10px;
  width: 1360px;

  height: 1000px; 
  max-height: 1000px;
  overflow-y: auto; 

  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: top;
}

.lista-titulo {
  color: black;
  justify-content: center;  /* Centraliza horizontalmente */
  align-items: center;      /* Centraliza verticalmente */
  font-weight: bold;
  text-align: center;
}


.total {
  color: black;
  text-align: left;
  align-self: flex-end;  
}

.lista {
  color: black
}

.lista-item {
  display: flex;
  justify-content: space-between;
  

  padding: 12px;
  margin-bottom: 8px;

  background: grey;
  border-radius: 8px;

  transition: 0.2s;
}

.Mesa {
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  background-color: black;

  display: flex;
  flex-direction: column;
  gap: 15px;
}
