/* Garantir que a página ocupe 100% da tela */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.CPedido-page {
  background-color: #2563eb; /* azul */
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card branco */
.CPedido-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 500px;

  display: flex;
  flex-direction: column;

  gap: 15px;
}

/* Botões */
.role-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.CPedido-page .input {
  width: 95%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  justify-content: center;
  text-align: center;
}