/* Garantir que a página ocupe 100% da tela */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.imagem{
  position: absolute;
  top: 5%;
}

.login-page {
  background-color: #2563eb; /* azul */
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-page .nomes {
  position: absolute;
  bottom: 25%;
  color: rgb(0, 0, 5);
  margin-top: 20px;
}

.login-page .titulos {
  position: absolute;
  top: 25%;
  color: rgb(0, 0, 5);
  margin-bottom: 50px;
}

/* Card branco */
.login-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Botões */
.login-card .role-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  justify-content: center;
}

.login-page .botao {
  padding: 12px;
  background: green;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.role-buttons .botao {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: black;
  color: white;
  cursor: pointer;
}

.role-buttons .botaoAtivo {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: green;
  color: white;
  cursor: pointer;
}

.Login-page .input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  justify-content: center;
  text-align: center;
}