/* Garantir que a página ocupe 100% da tela */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Pedido-page {
  background-color: #2563eb; /* azul */
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card branco */
.Pedido-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 500px;

  display: flex;
  flex-direction: column;

  gap: 15px;
}

.resgistramento {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 200px;

  display: flex;
  flex-direction: column;

  gap: 15px;
}
.cancelamento {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 200px;

  display: flex;
  flex-direction: column;

  gap: 15px;
}

/* Botões */
.role-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cancelamento .botao {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #1f1f1f;
  color: white;
  cursor: pointer;
}

.cancelamento .botaoAtivo {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: red;
  color: white;
  cursor: pointer;
}
.resgistramento .botao {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #1f1f1f;
  color: white;
  cursor: pointer;
}

.resgistramento .botaoAtivo {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: green;
  color: white;
  cursor: pointer;
}

.Pedido-page .input {
  width: 95%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  justify-content: center;
  text-align: center;
}